<!DOCTYPE html>
<html>
  <head>
    <title>CML Ecosystem</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        CML Ecosystem
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        Welcome to Comrade Learn, where your journey to mastering real-world tech skills begins. Our platform is dedicated to fostering tech expertise through curated local and international sessions, unique opportunities, and Premium Courses.

        At Comrade Learn, our primary goal is to help you gain practical skills and build a robust professional network. We provide an ecosystem that not only equips you with cutting-edge knowledge but also offers exclusive job opportunities. This allows you to apply your newly acquired skills in real-world scenarios and earn income while doing so.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/images/work.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Opernings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>